:root {
  /* --bg-color: #000; */
  /* --bg-color: #0e0e0e; */
  /* --other-bg-color: #586e75; used for disabled */
  /* --color: whitesmoke; */
  /* --bg-color: #26201d; */
  --bg-color: #160712;
  --other-bg-color: #52534c; /* used for disabled */
  --color: #cbd1be;
  --green: #5d7643;
  --blue: #3870be;
  --red: #a93130;
  --dark-red: #7a1338;
  font-size: max(1vh, 16px);
  /* --top: 999; */
}

body {
  font-family: monospace;
  background-color: var(--bg-color);
  color: var(--color);
  margin: 0;
  /* overflow-y: hidden;
  overflow-x: hidden; */
}

main {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

canvas {
  image-rendering: pixelated;
}

p {
  margin: 0.2rem;
  font-size: 1rem;
  font-weight: 700;
}

button {
  cursor: pointer;
  border: .25em solid var(--color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--bg-color);
  color: var(--color);
}

button:hover {
  background-color: var(--other-bg-color);
}

button:disabled {
  color: var(--other-bg-color);
  border: .25em dashed var(--other-bg-color);
  background-color: var(--bg-color);
  cursor: not-allowed;
}

.selected {
  background-color: var(--red);
}

.selected:disabled {
  color: var(--other-bg-color);
  border: .25em dashed var(--other-bg-color);
  background-color: var(--dark-red);
  cursor: not-allowed;
}

.selected:hover {
  background-color: var(--dark-red);
}

/* nav {
  display: flex;
  justify-content: space-between;
  height: 3em;
} */

#chars {
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
  padding: 1em;
}

#battle {
  flex-basis: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 100%; */
}

#logs {
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow-y: scroll;
}

#logs > p {
  margin: 2px;
}

.display-none {
  display: none;
}

.ssimg {
  background-image: url('/assets/tiles.png');
  /* zoomed in 32x (sheet is 32 tiles wide and tall) */
  background-size: 3200% 3200%;
  width: 24px; height: 24px;
  image-rendering: pixelated;
  /* blank tile for now */
  background-position: 24px 0px;
}

.char {
  flex-basis: calc(16.6%);
  padding: 0.5rem;
}

.char-title {
  display: flex;
  flex-direction: row;
}

.char-name {
  font-size: 1.25rem;
}

.char-buttons {
  display: flex;
}

.char-button:not(:last-child) {
  margin-right: .5em;
}

.box {
  margin: 1em;
  border: .25em solid var(--color);
}

#chars > .box {
  margin: 0 0 0.5em 0;
}

#battle {
  display: flex;
  flex-direction: column;
}

.battle-buttons {
  width: 100%;
  display: flex;
  margin-top: 1em;
  justify-content: center;
}

progress {
  border-radius: 0;
  margin-bottom: 0.25rem;
  inline-size: auto;
  width: calc(100%);
  background-color: var(--bg-color);
}
progress::-webkit-progress-bar {
  background-color: var(--bg-color);
}
progress::-moz-progress-bar {
  background-color: var(--bg-color);
}
.hp-bar {
  border: 2px var(--green) solid;
  color: var(--green);
  height: 12px;
}
.mp-bar {
  border: 2px var(--blue) solid;
  color: var(--blue);
  height: 8px;
}
.time-bar {
  border: 2px var(--blue) solid;
  color: var(--blue);
  height: 2px;
}

.WHITE { color: var(--color); }
.WHITESMOKE { color: whitesmoke }
.RED { color: #a93130; }
.GREEN { color: var(--green); }
.BLUE { color: var(--blue); }
