:root {
  /* --bg-color: #000; */
  /* --bg-color: #0e0e0e; */
  /* --dark-bg-color: #586e75; used for disabled */
  /* --color: whitesmoke; */
  /* --bg-color: #26201d; */
  --bg-color: #160712;
  --dark-bg-color: #52534c; /* used for disabled */
  --color: #cbd1be;
  --green: #5d7643;
  --blue: #3870be;
  font-size: 16px;
  /* --top: 999; */
}

body {
  font-family: monospace;
  background-color: var(--bg-color);
  color: var(--color);
  margin: 0;
  font-weight: 700;
  /* overflow-y: hidden;
  overflow-x: hidden; */
}

main {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

canvas {
  image-rendering: pixelated;
}

p {
  margin: 0.2rem;
  font-size: 1rem;
}

/* nav {
  display: flex;
  justify-content: space-between;
  height: 3em;
} */

#chars {
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
  padding: 1em;
}

#battle {
  flex-basis: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 100%; */
}

#logs {
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow-y: scroll;
}

#logs > p {
  margin: 2px;
}

.char {
  flex-basis: calc(16.6% - 3rem);
  padding: 0.5rem;
}

.char-name {
  font-size: 1.25rem;
}

.box {
  margin: 1em;
  border: .25em solid var(--color);
}

#chars > .box {
  margin: 0 0 0.5em 0;
}

progress {
  border-radius: 0;
  margin-bottom: 0.25rem;
  inline-size: auto;
  width: calc(100%);
  background-color: var(--bg-color);
}
progress::-webkit-progress-bar {
  background-color: var(--bg-color);
}
progress::-moz-progress-bar {
  background-color: var(--bg-color);
}
.hp-bar {
  border: 2px var(--green) solid;
  color: var(--green);
  height: 12px;
}
.mp-bar {
  border: 2px var(--blue) solid;
  color: var(--blue);
  height: 8px;
}
.time-bar {
  border: 2px var(--blue) solid;
  color: var(--blue);
  height: 2px;
}

.WHITE { color: var(--color); }
.WHITESMOKE { color: whitesmoke }
.RED { color: #a93130; }
.GREEN { color: var(--green); }
.BLUE { color: var(--blue); }
